Приведены данные по ценам квадратного метра загородки в населенных пунктах МО (статистика с авито, добавлено расстояние от МКАД и численность населения).
https://docs.google.com/spreadsheets/d/1n_LZWqz3hy0FDHoPmEriTgJO27tDDT2VnoH6RLmyhUg/edit?usp=sharing

--
Задачи:
- проанализировать зависимость цен от километража и численности населения,
- понять, есть ли выраженные сезонные колебания цен,
- сделать прогноз на апрель

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Импортируем и подготовим данные.

In [2]:
df = pd.read_csv('C:\\Users\\olhae\\Downloads\\загородка.csv')
df.head()

,Аренда/Продажа,Регион,Город,население,км от МКАД,Кол-во комнат,Цена за,ноя.18,дек.18,янв.19,...,июн.19,июл.19,авг.19,сен.19,окт.19,ноя.19,дек.19,янв.20,фев.20,мар.20
0,Продам,Московская область,Апрелевка,30669,28,Все,за м2,61111,51800,48333,...,52778,52893,53521,53243,54688,57143,59289,59896,62222,61669
1,Продам,Московская область,Балашиха,507366,11,Все,за м2,54167,56818,56604,...,56738,58594,57500,56767,55333,55714,55333,55800,56000,54545
2,Продам,Московская область,Белоозёрский,17898,61,Все,за м2,27857,27772,27739,...,29167,28810,28438,28000,27778,28571,29091,30000,29091,27422
3,Продам,Московская область,Бронницы,22531,52,Все,за м2,27917,27778,28824,...,27857,27222,27143,27816,27816,27778,27816,28471,28636,28333
4,Продам,Московская область,Вербилки,6869,84,Все,за м2,18518,20000,20000,...,18750,17742,17857,18000,19000,19792,19643,20000,20000,19643

In [4]:
pd.set_option('display.float_format', lambda x: '%.2f' % x) 
df.describe()

,население,км от МКАД,ноя.18,дек.18,янв.19,фев.19,мар.19,апр.19,май.19,июн.19,июл.19,авг.19,сен.19,окт.19,ноя.19,дек.19,янв.20,фев.20,мар.20
count,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00,78.00
mean,62825.96,59.68,34879.63,34733.85,34855.47,35235.14,35443.55,35113.22,34700.05,34473.94,34476.45,34356.50,34415.77,34823.08,35089.14,35562.21,35776.58,35945.41,35904.19
std,82415.85,35.97,15236.81,14615.64,14634.45,14650.58,15219.47,15149.46,15188.77,15186.97,15505.27,15353.65,15444.04,15694.75,15595.87,15870.72,15982.57,16156.54,16233.16
min,3309.00,3.00,16000.00,16667.00,17000.00,16458.00,16667.00,16145.00,15625.00,15385.00,15273.00,15077.00,15541.00,15455.00,15833.00,15500.00,15500.00,16429.00,16667.00
25%,11061.75,33.00,24428.75,23857.50,24233.25,24442.50,24166.75,23507.75,23250.00,23866.25,23924.25,23626.50,23352.50,23313.25,23741.50,24071.50,24531.25,24111.00,24193.75
50%,25476.50,57.50,29129.00,30116.50,29514.50,31348.50,30625.00,30972.00,29657.50,29522.50,29939.00,29823.00,29509.00,30422.50,30208.50,30535.00,31250.00,31399.00,31111.00
75%,87602.00,85.50,40714.00,40592.75,40777.75,41250.25,42180.50,41403.25,40681.75,41086.50,40063.75,39782.50,40111.00,40978.00,41875.00,43596.50,43273.75,43184.25,42354.00
max,507366.00,138.00,81027.00,77083.00,75000.00,76923.00,77320.00,75410.00,75000.00,74000.00,79762.00,75258.00,75410.00,79051.00,79618.00,81200.00,83810.00,80905.00,83673.00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Аренда/Продажа  78 non-null     object
 1   Регион          78 non-null     object
 2   Город           78 non-null     object
 3   население       78 non-null     int64
 4   км от МКАД      78 non-null     int64
 5   Кол-во комнат   78 non-null     object
 6   Цена за         78 non-null     object
 7   ноя.18          78 non-null     int64
 8   дек.18          78 non-null     int64
 9   янв.19          78 non-null     int64
 10  фев.19          78 non-null     int64
 11  мар.19          78 non-null     int64
 12  апр.19          78 non-null     int64
 13  май.19          78 non-null     int64
 14  июн.19          78 non-null     int64
 15  июл.19          78 non-null     int64
 16  авг.19          78 non-null     int64
 17  сен.19          78 non-null     int64
 18  окт.19          78 non-null     int64
 19  ноя.19          78 non-null     int64
 20  дек.19          78 non-null     int64
 21  янв.20          78 non-null     int64
 22  фев.20          78 non-null     int64
 23  мар.20          78 non-null     int64
dtypes: int64(19), object(5)
memory usage: 14.8+ KB